@tailwind base;
@tailwind components;
@tailwind utilities;

/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Amiri+Quran&family=Amiri:ital,wght@0,400;0,700;1,400&family=Montserrat:ital,wght@0,100;0,200;0,300;1,100;1,200;1,300&family=PT+Sans:ital@0;1&family=Roboto+Condensed:ital,wght@0,300;1,300&family=Sofia+Sans+Condensed:ital,wght@0,100;0,200;1,1&family=Source+Serif+Pro:ital,wght@0,200;0,300;1,200&display=swap');
body {
    font-family: 'Source Serif Pro', serif;
}

.black input{
     background-color: white;
     color:black;
}
.white input{
     background-color: black;
     color: white;
}
.chat .black {
    background-color: #fff;
    color: #000;
}
.chat .white {
    background-color: #000;
    color:#fff
}