/* start styling les elementes in loginPage  */
/* importe les fonts  */
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Jost:ital,wght@1,200&family=Montserrat:ital,wght@0,200;1,100;1,200&family=Poppins:ital,wght@0,200;1,100&family=Quicksand:wght@300;400&family=Roboto:ital,wght@0,300;1,100&display=swap');
/* howe use in font  */
/*
    font-family: 'Abel', sans-serif;

    font-family: 'Jost', sans-serif;

    font-family: 'Montserrat', sans-serif;

    font-family: 'Poppins', sans-serif;

    font-family: 'Roboto', sans-serif;
*/

*{
     margin:0;
     padding: 0;
     background-color: #000;
     color:#fff;
     font-family: 'Abel', sans-serif;
}



/* styling login-Page */

/* start Navbar */

.nav-div {
    width: calc(100% - 40px) ;
    /* background-color: #fff; */
    color: #000;
    display: flex;
    margin: auto;
    margin-top:28px;
    justify-content: space-between;
}

.login-div .logo-div {
     display: flex;
     justify-content: center;
}

.login-div .logo-div p{
       font-size:25px;
       display: flex;
       justify-content: center;
}

.login-div .logo-div p span{
      margin: 3px;
      margin-top:10px;
}

 .login-div .logo-div img {
       width:25px;
       height:40px;
       margin-top:5px;
 }

 .login-div .nav-div .links-div {
      background-color: blue;
      display: flex;
      justify-content: center;
      margin-top:13px;
 }
 .nav-div .links-div ul{
    list-style: none;
    display: flex;
}

.nav-div .links-div ul li {
    margin:7px;
    font-size:16px;
    cursor: pointer;
}

.links-div ul li a {
      text-decoration: none;
}

.links-div ul li a:active {
      color:chocolate;
}

/* end Sytling Navbar Page  */


